#text-area {
  resize: none;
  font-family: "PT Serif", serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid black;
  margin: 32px auto;
  height: 300px;
  width: 700px;
  overflow-wrap: anywhere;
}

#spg {
  display: flex;
  justify-content: center;
  margin: 32px auto;
}

#generate {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  border-radius: 100px;
  padding: 8px;
  font-size: 15px;
  margin: auto;
}

#generate-in-div{
  width: 590px;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}

#copy-and-paste{
  display: flex;
  margin: auto;
  padding: 9px 18px;
  border-radius: 100px;
}
